.sf-menu.sf-style-cano {
	
	float: left;
	margin: 0;
	padding: 0 0 0 1px;
}

.sf-menu.sf-style-cano ul {
	padding-left: 0;
}

.sf-menu.sf-style-cano li {
  margin: 0;
}

.sf-menu.sf-style-cano a {
  font-style: normal;
  color: #fff;
  float: left;
  padding: 15px 20px 0 0;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;  
  position: static;
}
/*
.texgyreadventor-font .sf-menu.sf-style-cano a {
 font-family: 'TeXGyreAdventorRegular';
}
*/
/* "Have child" Item */
.sf-menu.sf-style-cano li.menuparent {
}

.sf-menu.sf-style-cano a.menuparent {
}

/* Hover Links */
.sf-menu.sf-style-cano li:hover > a,
.sf-menu.sf-style-cano li.sfHover > a,
.sf-menu.sf-style-cano a:hover,
.sf-menu.sf-style-cano a:focus,
.sf-menu.sf-style-cano a:active {
  
  
  
  color: #DD4036;
 
}

.sf-menu.sf-style-cano a.sf-depth-1.active {
    color: #DD4036;
}

/* Child Menu */
.sf-menu.sf-style-cano ul {
  background: #222;
  border-radius : 0;
  
  margin-top: 20px;
  padding: 5px; 
}

.sf-menu.sf-style-cano ul li {
}

.sf-menu.sf-style-cano ul li a {
 /* background: #2c2c2c;*/
 background:url("../images/meni.jpg") repeat-x scroll 0 100% transparent;

  color: #fff;
  display:block;
  border-left: none !important;
  border-right: none !important;
  border-top: 1px solid #333;  
  padding: 0.909em 1.364em !important;
  text-transform: none;
  font-family: Helvetica, Arial, sans-serif !important;
  margin-left: 0 !important;
}

/* Child Menu Items Active */
.sf-menu.sf-style-cano ul li a.active {
  background:#333;
  border-top: 1px solid #444;
  color: #fff;  
}

/* Child Menu Items Hover */
.sf-menu.sf-style-cano ul li:hover > a,
.sf-menu.sf-style-cano ul li.sfHover > a,
.sf-menu.sf-style-cano ul li a:focus,
.sf-menu.sf-style-cano ul li a:hover,
.sf-menu.sf-style-cano ul li.sfHover a:active {
  background: #DD4036;
  border:none;
  border-top: 1px solid #b53028;
  color: #fff;
  padding: 0.909em 1.364em; 
}

/* Active Links */
.sf-menu.sf-style-cano a.active,
.sf-navbar.sf-style-cano li.sfHover > a.active,
.sf-navbar.sf-style-cano li.sf-breadcrumb > a.sf-depth-1  {
	
	color: #DD4036;
	
	color: #fff;
	
}

.sf-menu.sf-style-cano .active-trail .sf-depth-1 {

 
  color: #fff;

  
}

/* Navbar */
.sf-menu.sf-style-cano.sf-navbar {
	float: none;
}

/* MegaMenu */
.sf-menu.sf-style-cano span.sf-description {
	color: #666;
	display: block;
	font-size: 10px;
	font-style: italic;
    text-shadow: 0 1px 1px #151515;
	text-transform: none; 
	font-weight: normal;
	font-family: Droid Serif;
}

.sf-menu.sf-style-cano a.sf-with-ul {
	padding-right: 2.25em;
}

.sf-menu.sf-style-cano.rtl a.sf-with-ul { /* RTL */
	padding-left: 2.25em;
	padding-right: 1em; 
}

.sf-menu.sf-style-cano ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	display: inline;
	float: left;
	width: 12em;
}

.sf-menu.sf-style-cano.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	float: right; /* RTL */
}

.sf-menu.sf-style-cano ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-cano ul.sf-megamenu li.sf-megamenu-wrapper ol li {
	margin: 0;
	padding: 0;
}

.sf-menu.sf-style-cano li.sf-parent-children-1 ul.sf-megamenu {
	width: 12em;
}

.sf-menu.sf-style-cano li.sf-parent-children-10 ul.sf-megamenu {
	width: 120em;
}

.sf-menu.sf-style-cano li.sf-parent-children-2 ul.sf-megamenu {
	width: 24em;
}

.sf-menu.sf-style-cano li.sf-parent-children-3 ul.sf-megamenu {
	width: 36em;
}

.sf-menu.sf-style-cano li.sf-parent-children-4 ul.sf-megamenu {
	width: 48em;
}

.sf-menu.sf-style-cano li.sf-parent-children-5 ul.sf-megamenu {
	width: 60em;
}

.sf-menu.sf-style-cano li.sf-parent-children-6 ul.sf-megamenu {
	width: 72em;
}

.sf-menu.sf-style-cano li.sf-parent-children-7 ul.sf-megamenu {
	width: 84em;
}

.sf-menu.sf-style-cano li.sf-parent-children-8 ul.sf-megamenu {
	width: 96em;
}

.sf-menu.sf-style-cano li.sf-parent-children-9 ul.sf-megamenu {
	width: 108em;
}

/* navbar */
.sf-navbar li:focus ul, .sf-navbar li:hover ul, 
.sf-navbar li:active ul, .sf-navbar li.sfHover ul, 
.sf-navbar li li:focus ul, .sf-navbar li li:hover ul, 
.sf-navbar li li:active ul, .sf-navbar li li.sfHover ul, 
.sf-navbar .active-trail ul {
 padding: 0;
 margin: 0;
 top: 4.2em;
}

ul.sf-navbar {
  padding-bottom: 0 !important;
}

.tb-sf-navbar #main-wrapper {
  padding-top: 35px;
}

.sf-navbar.sf-style-cano li > ul {
  background:url(../../images/bg-submenu.png) 0 100% repeat-x; padding-bottom: 5px;
}

.sf-navbar.sf-style-cano ul li { 
  padding: 0 0 0 20px;
}

.sf-navbar.sf-style-cano ul li a {
  background: url(../../images/ico-li.png) 0 17px no-repeat !important;
  border: none !important;
  color: #666;
  padding: 9px 10px 9px 13px !important;  
}

.sf-navbar.sf-style-cano ul li a.active {
  color: #999;
}

.sf-navbar.sf-style-cano ul li a:hover,
.sf-navbar.sf-style-cano ul li a:active,
.sf-navbar.sf-style-cano ul li a:focus {
  color: #999;
} 

.sf-navbar.sf-style-cano li.sf-breadcrumb > ul {
  background: #111;
} 

.sf-navbar.sf-style-cano li li ul {
  background: #222;
  padding: 5px; 
  top: 3.1em !important;
}

.sf-navbar.sf-style-cano li li ul li {
  padding: 0;
}

.sf-navbar.sf-style-cano li li ul a {
  background: #333!important;
  border-top: 1px solid #444;  
  color: #aaa;
  display:block;  
  padding: 0.909em 1.364em !important;
}

.sf-navbar.sf-style-cano li li ul a:hover,
.sf-navbar.sf-style-cano li li ul a:active,
.sf-navbar.sf-style-cano li li ul a:focus {
  background: #DD4036 !important;
  border-top: 1px solid #9bc165;
}
