@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,800,800italic,300,300italic);
html {
	height: 100%;
}


.clear {
	clear: both;
}


/* Body styles */
body {
	background-color: #f4f1e8;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

.region-left-content {
	float: left;
	width: 150px;
}

.region-left-content h2.block-title {
	font-size: .8em;
}

.region-left-content ul {
	list-style-type: none;
	font-size: .8em;
	margin-top: 0;
	padding-left: 0;
	
}

.region-left-content input {
	max-width: 150px;
}

/* links */

a {
	color: #006699;
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
}



ul.links a {
	font-weight: bold;
	font-size: .8em;
	text-transform: uppercase;
}

.edit-link {
	font-size: .8em;
	font-weight: bold;
	text-transform: uppercase;
}

/* Forms */

.form-item {
	margin: 0 0 1.5em;
}

.form-item input[type="text"], .form-item input[type="password"], textarea {
	border: solid 1px #CDC7B2;
	padding: .3em;
}

.form-item input[type="text"]:hover, .form-item input[type="password"]:hover, 
.form-item input[type="text"]:focus, .form-item input[type="password"]:focus,
textarea:hover, textarea:focus {
	border: solid 1px #6c6155;
}


input[type='submit'] {
	border: 0;
	background-color: #6c6155;
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	color: #fff;
	font-weight: bold;
	padding: .5em 1em;
	margin: 1em 1em 1em 0;
	text-transform: uppercase;
}


input[type='submit']:hover {
	color: #ddd0a5;
	text-decoration: none;
}


input.form-autocomplete {
	background-position: 100% 13px !important;
}

input.throbbing {
	background-position: 100% -13px !important;
}

label {
	margin: .3em 0;
}


/* views item separator */ 
span.bull {
	font-size: .7em;
}

/* tabs */
.tabs-primary, .tabs-secondary {
	background-image: none;
}

.is-active.tabs-primary__tab {
	border: 0;
	background-image: none;
}

.is-active.tabs-primary__tab a {
	border: 0;
	background-image: none;
	background-color: #CDC7B2;
	border-radius: 0px;
	color: #fff;
	font-size: .9em;
	font-weight: bold;
	padding: .5em 1em;
	text-transform: uppercase;
	text-shadow: none;
}

.tabs-primary__tab {
	
	border: 0;
	

}

.tabs-primary__tab a {
	border-radius: 0;
	color: #999;
	font-size: .9em;
	font-weight: bold;
	padding: .5em 1em;
	text-transform: uppercase;
	text-shadow: none;
}

.tabs-primary__tab a:hover {
	text-decoration: none;
}


/* pager styles */
ul.pager {
	padding-top: 1em !important;
}




ul.pager li.pager-item, ul.pager li.pager-next, ul.pager li.pager-last, li.pager-first, li.pager-previous  {
	padding: 0;
	
}

li.pager-item a, li.pager-next a, li.pager-last a, li.pager-current, li.pager-first a, li.pager-previous a {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

li.pager-item a:hover, li.pager-next a:hover, li.pager-last a:hover, li.pager-first a:hover, li.pager-previous a:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

li.pager-current  {
    border: none;
    background: #6C6155;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
	padding: 0 9px !important;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

/* User register page */
.page-user-register form {
	
}

.page-user-register fieldset {
	border: 0;
	padding: 0;
}

.page-user-register fieldset legend {
	display: none;
}

.page-user-register .form-item label {

    display: block;
    float: left;
    padding-right: 20px;
    text-align: right;
    width: 10em;
}

.page-user-register .form-item .description {
    margin-left: 180px;
	width: 500px;
}

.page-user-register .form-item input[type="text"] {
	width: 500px;
}

.page-user-register input[type="submit"] {
	margin-left: 180px;
}

.toboggan-unified #login-message {
	border-bottom: solid 1px #b4ab90;
	font-size: .9em;
	color: rgb( 85, 85, 85 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 1em;
	padding-bottom: 1em;
	text-align: left;
}

.toboggan-unified #login-links {
	font-size: .9em;
	text-align: left;
	margin-bottom: 1.5em;
}

.toboggan-unified #login-links a {
	border: 0;
	background-color: #999;
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	color: #eaeaea;
	font-weight: bold;
	padding: .5em 1em;
	margin: 1em 1em 1em 0;
	text-transform: uppercase;
}

.toboggan-unified #login-links a.lt-active {
	background: #000;
	color: #fff;
}

.toboggan-unified #login-links a:hover, .toboggan-unified #login-links a.lt-active:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}

.page-user-register .form-item-conf-mail, .page-user-register .form-type-password-confirm {
	border-bottom: solid 1px #F4F1E8;
	padding-bottom: 1.5em;
}


.page-user-register .form-item-pass-pass2 {
	margin-bottom: 0;
}

/* Generic Side Bar block tite */

.region-sidebar-second h2.block-title {
	border-bottom: solid 1px #b4ab90;
	font-size: .9em;
	color: rgb( 85, 85, 85 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

/* Custom ajax throbber style */
.ajax-progress .throbber {
  /* New icon */
  background: transparent url(../images/loading.gif) no-repeat 0px 0px;
  /* icon is 15px square */
  height: 15px;
  width: 15px;
  /* Alignment, may tweak to suit */
  float: left; /* LTR */
  clear:both;
  margin: 2px 2px 6px 2px;
}
.ajax-progress-throbber .message {
  /* Hide the "please wait" msg */
  display: none;
}


/* General title style */
h1#page-title {
	border-bottom: solid 1px #F4F1E7;
	font-size: 1em;
	margin-bottom: .5em;
	padding-bottom: .5em;
	text-transform: uppercase;
}

.header__logo {
	padding-right: 1em;
}

/* Top User Menu */



#user-menu-bar {
	background-color: #444;
	color: #999;
	font-size: .75em;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .4);
	height: 35px;
	width: 980p;
}

#user-menu-bar-inner {
	margin:auto;
	width: 980px;
	
}

#user-menu-bar a {
	color: #ccc;

	font-weight: 600;
}

#user-menu-bar a:hover {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 3px #660000;
	        filter: dropshadow(color=#660000, offx=1, offy=1);
}

#user-menu-bar .block {
	margin: 0 auto;	
	text-align: right;
}

#user-menu-bar ul.user-menu {
	list-style-type: none;
	padding-top: 4px;
	margin-top: 0;
}

#user-menu-bar ul.user-menu li.welcome-back {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #a92f2f; /* Old browsers */
	background: -moz-linear-gradient(top,  #a92f2f 0%, #ce5454 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92f2f), color-stop(100%,#ce5454)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a92f2f 0%,#ce5454 100%); /* W3C */
	color: #fff;
	margin-bottom: 4px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

#user-menu-bar ul.user-menu li.welcome-back a,#user-menu-bar ul.user-menu li.welcome-back a:hover {
	color: #fff;
}



#user-menu-bar ul.user-menu li {
	display: inline;
	border-left: solid 1px #000;
	margin-right: 8px;
	padding-left: 8px;
}

#user-menu-bar ul.user-menu li.first {
	border: 0;
}


#user-menu-bar #block-superfish-2 {
	padding-top: 10px;
	float: right;
}

#block-superfish-2 span.sf-sub-indicator {
	display: none;
	}
	
#user-menu-bar li.sf-depth-1 {
	background: url("../images/white-arrow.png") right center no-repeat;
	padding-right: 20px;
	margin-left: 15px;

}

#user-menu-bar li.sf-depth-1 a.menuparent {
		text-transform: uppercase;
}

/*#user-menu-bar #block-superfish-2 ul ul {
	background: #a92f2f; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #a92f2f 0%, #ce5454 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92f2f), color-stop(100%,#ce5454)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #a92f2f 0%,#ce5454 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92f2f', endColorstr='#ce5454',GradientType=0 ); /* IE6-9 */
/*	border: solid 1px rgba(255, 255, 255, .2);
	-webkit-border-radius: 0px 0px 8px 8px;
 	border-radius: 0px 0px 8px 8px;
	padding-right: 0;
	text-align: left;
}
*/


#user-menu-bar #block-superfish-2 ul ul
{
	background: #a92f2f; /* Old browsers */
	background: -moz-linear-gradient(top,  #a92f2f 0%, #ce5454 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92f2f), color-stop(100%,#ce5454)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a92f2f 0%,#ce5454 100%); /* W3C */
	padding: 2px;
	min-height: 120px;

-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border: solid 1px rgba(255, 255, 255, .2);
padding-right: 0;
padding-bottom: 5px;
left: 0;
text-align: left;
}

#user-menu-bar #block-superfish-2 ul ul:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 7px 7px;
border-color: #a92f2f transparent;
width: 0;
z-index: 1;
top: -7px;
left: 26px;
}

#user-menu-bar #block-superfish-2 ul ul:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 7px 7px;
border-color: rgba(255, 255, 255, .2) transparent;

width: 0;
z-index: 0;
top: -8px;
left: 26px;
}



.sf-menu li:hover ul, .sf-menu li.sfHover ul {
   left: 0;
    top: 2em;
}

#user-menu-bar #block-superfish-2 ul ul a {
	border-bottom: #660000 solid 1px;
	color: #fff;
	font-weight: bold;
	padding: .5em;
	margin-right: 0;
	
}

#user-menu-bar #block-superfish-2 ul ul li.last a {
	border-bottom: 0px;
	padding-bottom: 0;
}

/* Menu Styles + Header Styles */



#header-inner {
	margin: auto;
	width: 980px;
}

#header {
	background-color: rgba(0, 0, 0, .85);
	background-image: none;
	border-bottom: solid 1px rgba(255, 255, 255, .3);
	width: 100%;
	padding: 0;
}

.front #header {
	z-index: 399;
 	position: absolute;
	top: 35px;
}

.front #header-inner {
	margin: auto;
	width: 980px;

}


#section-header #zone-branding-wrapper #zone-branding {
	background: transparent;
}


#section-header #zone-branding-wrapper #region-branding {
	background-color: transparent;
	background-image: none;
	
}


#header #logo {
	margin-top: 15px;
}

#header .block {
	margin-bottom: 0;
}

#section-header #zone-branding-wrapper #region-menu {
	background-image: none;
	
	
}


/* Menu Styles */

.header__region {
	clear: none;
}

#block-superfish-1 {
	padding-top: 0;
	
}

#block-superfish-1 ul#superfish-1 {
	border-left: solid 1px #000;
	border-right: solid 1px rgba(255, 255, 255, .1);
	padding-left: 0px;
	padding-top: 0;
	margin-top: 0;
}


#block-superfish-1 span.sf-description {
	display: none;
}


#block-superfish-1 li.sf-depth-1 {
	font-size: 1.1em;
	font-family: 'Open Sans';
	font-weight: 600;
	border-right: solid 1px #000;
	border-left: solid 1px rgba(255, 255, 255, .1);
}

#block-superfish-1 li.sf-depth-1 a {
	padding: 39px 1em;
}

#block-superfish-1 .sf-menu.sf-style-cano ul li a {
	background-image: none;
}

#block-superfish-1 li.sf-depth-1 a:hover {
	color: #ddd0a5;
}



/* Page Wrapper */

#page-wrapper {
	background: url("../images/bg/page-title-bg.png") top center repeat-x;
	padding-bottom: 120px;
}

.front #page-wrapper {
	padding-bottom: 0;
}

/* Slider styles */

.region-slideshow {
	max-height: 686px;
	overflow: hidden;
	z-index: 100;
	position: relative;
	background: #000;
}


.flexslider {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	margin-bottom: 0px;
	line-height: 0;
}

#block-views-front-slider-block .ei-slider .view-footer, #block-views-front-slider-block .ei-slider h2.slide-title {
	display: none;
}

#block-block-37 {
	background: url(../images/bg/intro-bg.png) top center no-repeat;
    bottom: 0;
	color: #fff;
	display: block;
   /* left: 37%; */
	left: 0;
    margin: 0 auto;
    position: absolute;
    /*right: auto;*/
	right: 0;
	padding: 130px 11px 11px 11px;
	top: auto;
	bottom: 0;
	text-align: center;
    width: 350px;
	z-index: 40;
}

#block-block-37 h2 {
	background: transparent;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
	}

#block-block-37 p {
	font-size: 12px;
	margin-top: 3px;
	line-height: 1.5;
}



p.get-started {
	padding: 14px 0px 7px 0;
}

a.get-started-button {
	-webkit-border-radius: 5px;
	border-radius: 5px;
   /* background-image: -moz-linear-gradient( 90deg, rgb(187,159,74) 0%, rgb(235,227,193) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(187,159,74) 0%, rgb(235,227,193) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(187,159,74) 0%, rgb(235,227,193) 100%);
    box-shadow: 0.5px 0.866px 0px 0px rgb( 255, 255, 255 );*/
	color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #a92f2f; /* Old browsers */
	background: -moz-linear-gradient(top,  #a92f2f 0%, #ce5454 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92f2f), color-stop(100%,#ce5454)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a92f2f 0%,#ce5454 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a92f2f 0%,#ce5454 100%); /* W3C */
	font-size: 17px;
	font-family: "Open Sans";
	font-weight: bold;
	font-style: normal;
	line-height: 1;
	margin: 25px 0px;
	padding: 5px 10px;
	text-align: center;
	text-shadow: 0.5px 1px 0px rgba( 0, 0, 0, .5);
	text-transform: uppercase;
}


a.get-started-button:hover {
	color: #fff;
	background: #a92f2f; /* Old browsers */
	background: -moz-linear-gradient(top,  #ce5454 0%, #a92f2f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce5454), color-stop(100%,#a92f2f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ce5454 0%,#a92f2f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ce5454 0%,#a92f2f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ce5454 0%,#a92f2f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ce5454 0%,#a92f2f 100%); /* W3C */
	text-shadow: 1px 1px 3px rgba( 0, 0, 0, .8 );
	text-decoration: none;
}




/* page - content elements */

#page {
	padding-top: 2em;
}

#main {
	padding-top: 0;
}

#page #main #content {
	background: #fff;
	padding: 16px;
}

.front #page #main #content {
	background: transparent;
	display: none;
}

/* Newest Wingmen Block */
#block-views-new-wingmen-block-1 h2, #block-views-featured-events-block-1 h2 {
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: .1em;
	text-transform: uppercase;
	
}

#block-views-new-wingmen-block-1 ul.pager {
	font-size: .85em;
	font-weight: bold;
	padding-top: 1em;
	text-align: right;
	text-transform: uppercase;
}

#block-views-new-wingmen-block-1 ul.pager .pager-current {
	display: none;
}


/*Featured Events Block*/
#block-views-featured-events-block-1 {
	margin-left: 520px;
}

#block-views-featured-events-block-1 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}



#block-views-featured-events-block-1 ul li {
	font-size: 0.875em;
	float: left;
	line-height: 1.2;
	width: 220px;
	margin-right: 20px;
}

#block-views-featured-events-block-1 ul li.views-row-last {
	margin-right: 0;
}

#block-views-featured-events-block-1 ul li .views-field-field-event-logo {
	padding-bottom: .5em;
	height: 100px;
}

#block-views-featured-events-block-1 ul li a {
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: .5em;
}

#block-views-featured-events-block-1 .views-field-field-event-date, #block-views-featured-events-block-1 .views-field-city,
#block-views-featured-events-block-1 .views-field-count {
	font-size: .85em;
}

/* User wingmen display on profile page */

/* Profile header block */


#block-views-wingman-user-friends-block-2 .profile-header-left img {
	border: solid 3px #fff;
	float: left;
	margin-right: 1em;
	width: 100px;
}

#block-views-wingman-user-friends-block-2 .profile-header-left h2 {
	margin: 0;
}

#block-views-wingman-user-friends-block-2 .profile-header-left p {
	margin: 0;
}

#block-views-wingman-user-friends-block-2 p.user-profile-details {
	font-size: .875em;
	font-weight: bold;
	line-height: 1.3;
	margin-top: 0;
}

#block-views-wingman-user-friends-block-2 p.user-profile-details span {
	font-size: .7em;
	font-weight: normal;
	margin-right: 5px;
	text-transform: uppercase;
}


#block-views-wingman-user-friends-block-2 p.add-wingman-button span a.flag-link-toggle {
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
}


#block-views-wingman-user-friends-block-2 p.add-wingman-button a.flag-link-toggle {
	background-color: #6c6155;
	-webkit-box-shadow:  0px 2px 2px 0px #665b50;
	box-shadow:  0px 2px 2px 0px #665b50;
	color: #fff;
	font-weight: bold;
	padding: .5em 1em;
	text-transform: uppercase;
}

#block-views-wingman-user-friends-block-2 p.add-wingman-button a.flag-link-toggle:hover {
	color: #ddd0a5;
	text-decoration: none;
}

#block-views-wingman-user-friends-block-2 .views-field-privatemsg-link {
	margin-left: 654px;
}

#block-views-wingman-user-friends-block-2 .views-field-privatemsg-link a {
	background: url('../images/message-icon.png') center left no-repeat;
	padding-left: 35px;
}

/* Status styles */

/*hide status under status form*/
#block-statuses-statuses .view-statuses-stream {
	display: none;
}

.statuses-update .button, .statuses-update .button:hover {
	background-color: #6C6155;
}

#block-statuses-statuses #statuses-replace {
	width: 636px;
	padding-bottom: 3em;
}

.statuses-textarea-wrapper {
	margin-bottom: .5em;
	box-shadow: none;
	padding: 0;
}



/* Profile menu block */
#block-block-42, #block-block-40 {
	margin-left: -20px;
}


ul.user-profile-menu {
	list-style-type: none;
	margin: 0 0 0 7px;
	padding: 0;
	width: 100%;
}

ul.user-profile-menu li a.active {
	background: #fff;
	color: #685d52;
}

ul.user-profile-menu li a {
	background: #cdc7b2;
	color: #fff;
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
	padding: .5em 1em;
}


ul.user-profile-menu li a:hover {
	background: #555;
	text-decoration: none;
}
 
ul.user-profile-menu li a.active:hover {
	background: #fff;
}

/* user profile views*/


.page-user-wingmen #main h1#page-title, .page-user-activity #main h1#page-title, .page-user #main h1#page-title {
	border-bottom: solid 1px #f4f1e7;
	font-size: 1em;
	color: rgb( 85, 85, 85 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.page-user-wingmen #main .views-field-uid {
	font-size: 0.7em;
	margin-top: .5em;
}


.view-content ul.user-list-photos, .view-id-all_wingmen .view-content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.view-content ul.user-list-photos li  {
	line-height: 1.4;
	float: left;
	margin-right: 1em;
	padding-bottom: 1.5em;
	text-align: center;
	width: 100px;
}



.view-content ul.user-list-photos li img, .view-id-all_wingmen ul li img {
	height: 100px;
	width: 100px;
}

.view-content ul.user-list-photos li .views-field-field-last-name a, .view-id-all_wingmen ul li a,  ul.user-list-photos li a {
	font-size: .875em;
	font-weight: bold;
}


.view-content ul.user-list-photos li .views-field-city, .view-content ul.user-list-photos li .views-field-php, .view-content ul.user-list-photos li .views-field-province, .view-content ul.user-list-photos li.flag-wrapper, .view-id-all_wingmen .views-field-city, .view-id-all_wingmen .views-field-province, .view-id-all_wingmen .views-field-php, .view-id-all_wingmen .views-field-field-interests  {
	font-size: .7em;
}


/*members views*/
.view-id-all_wingmen ul li.views-row {
	border-bottom: solid 1px #F4F1E7;
	clear: both;
	height: 100px;
	line-height: 1.15em;
	margin-top: 1em;
	padding-bottom: 1em;
}

.view-id-all_wingmen ul li img {
	float: left;
	margin-right: 1em;
}

.view-id-all_wingmen p.views-field-field-interests {
	margin: 0;
}

.view-id-all_wingmen p.add-wingman-button {
	margin: .5em 0 0 0;
}

.view-id-all_wingmen p.add-wingman-button span a.flag-link-toggle {
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	font-size: .7em;
}


.view-id-all_wingmen p.add-wingman-button a.flag-link-toggle {
	background-color: #6c6155;
	-webkit-box-shadow:  0px 2px 2px 0px #665b50;
	box-shadow:  0px 2px 2px 0px #665b50;
	color: #fff;
	font-weight: bold;
	padding: .5em 1em;
	text-transform: uppercase;
}

.view-id-all_wingmen p.add-wingman-button a.flag-link-toggle:hover {
	color: #ddd0a5;
	text-decoration: none;
}



/* profile user activity view */
.page-user-activity .view-wingman-user-activity ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.page-user-activity .view-wingman-user-activity .views-field-message {
	font-size: 1.2em;
}

.page-user-activity .view-wingman-user-activity ul li {
	border-bottom: solid 1px #F4F1E7;
	margin: 1em 0;
	padding: 1em 0;
}

/* profile about view */

.view-wingman-user-profile h3 {
	color: #CDC7B2;
	font-size: .8em;
	letter-spacing: .15em;
	margin-bottom: 0;
	text-transform: uppercase;
}


/*recommended wingman block*/
#block-views-similar-users-block-1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#block-views-similar-users-block-1 ul li {
	padding-right: 10px;
	float: left;
	font-size: 0.65em;
	font-weight: bold;
	text-align: center;
	width: 75px;
}

#block-views-similar-users-block-1 ul li.views-row-last {
	padding-right: 0px;
}

/* Members Lists */ 
.view-id-all_wingmen {}


/* User edit forms */

.page-user-edit #page #main #content {
	background: transparent;
}

.page-user-edit #page #main #content h1#page-title {
	display: none;
}

.page-user-edit .vertical-tabs {
	border: 0;
	background: #fff;
}

.page-user-edit label {
	margin-bottom: .5em;
}

.page-user-edit .vertical-tabs ul.vertical-tabs-list {
	border: 0;
	margin: 0px 0 0px -15em;
}

.vertical-tabs ul.vertical-tabs-list li.selected {
	border: 0;
	background: #fff;	
}

.vertical-tabs ul.vertical-tabs-list li.selected:hover {
	background: #fff;
}

.vertical-tabs ul.vertical-tabs-list li.selected a, .vertical-tabs ul.vertical-tabs-list li.selected a strong {
	color: #685d52;
}

.vertical-tabs ul.vertical-tabs-list li {
	border:0;
	background: #cdc7b2;
	color: #fff;
	font-weight: bold;
	margin-bottom: 4px;
}

.vertical-tabs ul.vertical-tabs-list li:hover {
	background: #555;
}

.vertical-tabs ul.vertical-tabs-list li a {
	color: #fff;
}

.vertical-tabs ul.vertical-tabs-list li a:hover, .vertical-tabs ul.vertical-tabs-list li a:hover strong  {
	outline: 0;
	text-decoration: none;
}

.page-user-edit fieldset#edit-flag-friend, .page-user-edit fieldset#edit-field-user-location-und-0 {
	margin-top: 3em;
}

.page-user-edit .form-item-field-user-location-und-0-delete-location {
	display: none;
}





.page-user-edit #edit-picture img {
	float: left;
	margin-right: 1em;
}

.page-user-edit #edit-picture .description {
	margin: 1em 0 1em 116px;
}

.page-user-edit #edit-gravatar {
	margin-left: 116px;
	font-size: .85em;
}

.page-user-edit #edit-gravatar .description {
	margin-left: 0;
	font-size: 1em;
}

.page-user-edit fieldset {
	border: 0;
	margin: 0 0 2em 0;
	padding-left: 0;
}

.page-user-edit fieldset legend {
	background: transparent;
	border-bottom: solid 1px #F4F1E7;
    color: #555555;
	display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
	width: 100%;
}

.page-user-edit #edit-picture legend {
	display: none;
}

.vertical-tabs-panes {
	padding-top: 1em;
}

.page-user-edit .form-item-pass-pass2 {
	margin-bottom: 0;
}

.page-user-edit input[type='submit'] {
	border: 0;
	margin-left: 15em;
	background-color: #6c6155;
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	color: #fff;
	font-weight: bold;
	padding: .5em 1em;
	text-transform: uppercase;
}

.page-user-edit input[type='submit']:hover {
	color: #ddd0a5;
	text-decoration: none;
}


#edit-field-interests .form-type-checkbox {
	float: left;
	padding-right: 2%;
	width: 48%;
}

.vertical-tabs fieldset#edit-group_user_profile {
	padding-bottom: 1em;
}

.page-user-edit .form-item-field-user-about-und-0-value label, .page-user-edit .form-item-field-interests-und label[for='edit-field-interests-und'] {
	background: transparent;
	border-bottom: solid 1px #F4F1E7;
    color: #555555;
	display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
	width: 100%;
}

#field-user-about-add-more-wrapper {
	padding-bottom: 2.5em;
}

#edit-field-profession, #edit-field-job-title {
	float: left;
	padding-right: 10%;
	width: 40%;
}

#edit-field-here-for {
	clear: both;
	padding-top: 20px;
}

.page-user-edit fieldset.collapsible .fieldset-legend {
	background-image: none;
	padding-left: 0;
}

.page-user-edit fieldset.collapsible .fieldset-legend a {
	color: #666;
	cursor: default;
}

.page-user-edit fieldset.collapsible .fieldset-legend a:hover {
	text-decoration: none;
}

/*

ul.user-profile-menu li a.active {
	background: #fff;
	color: #685d52;
}

ul.user-profile-menu li a {
	background: #cdc7b2;
	color: #fff;
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
	padding: .5em 1em;
}


ul.user-profile-menu li a:hover {
	background: #555;
	text-decoration: none;
}*/


/*Messages*/
.page-messages h1#page-title, h2.privatemsg-reply {
	border-bottom: solid 1px #f4f1e7;
	font-size: 1em;
	color: rgb( 85, 85, 85 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 1em;
	padding-bottom: 1em;
	
}

.page-messages table {
	width: 100%;
}

.page-messages th {
	border-bottom-color: #f4f1e7;
	font-size: .85em;
	text-transform: uppercase;
	
}

.page-messages tr.odd {
	background: transparent;
	border-bottom-color: #f4f1e7;
}

.page-messages tr.even {
	background: #f4f1e7;
	border-bottom-color: #f4f1e7;
}

.page-messages input[type='submit'] {
	border: 0;
	background-color: #6c6155;
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	color: #fff;
	font-weight: bold;
	padding: .5em 1em;
	margin: 1em 1em 1em 0;
	text-transform: uppercase;
}


.page-messages input[type='submit']:hover {
	color: #ddd0a5;
	text-decoration: none;
}

.page-messages input[type='submit']:active {
	margin-top: 2px;
}

.page-messages-view .privatemsg-author-avatar {
	width: 8%;
}

.page-messages-view .privatemsg-message-column {
	width: 90%;
}

div.privatemsg-message-information {
	border-bottom: solid 1px #f4f1e7;
}

.page-messages-view .privatemsg-message-participants {
	border-bottom: 0px;
	font-size: .8em;
	padding-bottom: 10px;
}

ul.privatemsg-message-actions {
	font-size: .8em;
}

.page-messages-view #privatemsg-new {
	margin-top: 3em;
}

/* Wingman (Flag Friend) Management Styles */

.page-flag-confirm h1#page-title, .page-user-friends-pending h1#page-title {
	font-size: 1.6em;
	font-weight: 300;
}

.page-user-friends-pending h1#page-title, .page-user-friends-flagged h1#page-title {
	border-bottom: solid 1px #f4f1e7;
	font-size: 1em;
	color: rgb( 85, 85, 85 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 1em;
	padding-bottom: 1em;
}


/* Answers */
.page-answers h1#page-title {
	display: none;
}

.page-answers .view-header {
	background: #cdc7b2;
	width: 100%;
	padding-right: 1em;
}

.page-answers ul.answer-menu {
	list-style-type: none;
	margin: -1em -1em 0 -1em;
	padding: 0;
	width: 100%;
}

.page-answers ul.answer-menu li {
}

.page-answers ul.answer-menu li a {
	background: #cdc7b2;
	border-right: 1px solid #fff;
	color: #fff;
	font-size: .9em;
	font-weight: bold;
	float: left;
	padding: 0 1em;
	text-transform: uppercase;
}

.page-answers ul.answer-menu li a:hover, .page-answers ul.answer-menu li a.active  {
	background: #fff;
	color: #cdc7b2;
	text-decoration: none;
}


.region-highlighted #block-block-43 h2.title {
	color: #6c6155;
	margin: 0;
	padding: 0;
	font-size: 1.7em;
	text-transform: uppercase;
}

.region-highlighted #block-block-43 h2.title span {
	color: #555;
	font-weight: 300;
}

.region-highlighted #block-block-43 p {
	margin-top: 0;
}

.page-answers .views-row {
	border-bottom: solid 1px #f4f1e7;
	font-size: .9em;
	margin: 1.5em 0;
	padding: 1.5em 0;
}

.page-answers .views-row p {
	margin: .4em 0;
	line-height: 1.2;
}

.page-answers .views-row .views-field-picture {
	float: left;
	width: 65px;
}



.page-answers .question-right {
	margin-left: 100px;
}

.page-answers .views-row .question-right h2 {
	font-size: 1.2em;
	line-height: 1;
	margin: 0 0 .8em;
}

.page-answers .views-row .views-field-nothing-1 p.details {
	font-size: .9em;
}

.node-type-question-and-answer h1#page-title {
	display: none;
}

.node-type-question-and-answer .user-picture img {
	float: left;
	height: auto;
	margin-right: 1em;
	width: 80x;
}

.node-type-question-and-answer h2.node-title {
	font-weight: normal;
}

.node-type-question-and-answer p.submitted {
	font-size: .9em;
	font-style: italic;
	margin-top: 0;
}

.node-type-question-and-answer .field-name-field-question-details {
	margin-bottom: 2.5em;
}

.node-type-question-and-answer #comments h2, .node-type-question-and-answer h2.comment-form {
	border-bottom: solid 1px #f4f1e7;
	font-size: 1em;
	color: rgb( 85, 85, 85 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-top: 3em;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.node-type-question-and-answer article.comment {
	border-bottom: solid 1px #f4f1e7;
	margin: 1em 0;
	padding-bottom: 1em;
}

.answer-content {
	margin-left: 120px;
}

.node-type-question-and-answer article.comment p.submitted {
	margin: 0 0 1em;
	padding: 0;
}

.official-answer {
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f2e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f2e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f2e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f2e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f2e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f2e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f2e7',GradientType=0 ); /* IE6-9 */
	position: relative;
	width: 95%;
	padding: .5em;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: #cdc7b2 solid 1px;
	margin-bottom: 2.5em;
}

.official-answer:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 6px 6px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -6px;
	left: 23px;
}

.official-answer:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 6px 6px;
border-color: #cdc7b2 transparent;
display: block;
width: 0;
z-index: 0;
top: -7px;
left: 23px;
}

.field-name-field-official-answer, .views-field-field-official-answer .field-content {
	background: url('../images/official-answer.png') top left no-repeat;
	min-height: 60px;
	padding-left: 75px;
	font-size: .9em;
	line-height: 1.3;
	
}


a.answer-this {
	border: 0;
	background-color: #6c6155;
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	color: #fff;
	font-weight: bold;
	padding: .5em 1em;
	margin: 2em 1em 100px 0;
	text-transform: uppercase;
}


a.answer-this:hover {
	color: #ddd0a5;
	text-decoration: none;
}


.node-type-question-and-answer article.comment .field-name-comment-body {
	margin-bottom: 1em;
}

#comment-form label[for='edit-author--2'] {
	float: left;
	font-weight: normal;
	margin: 0;
}

#comment-form label[for='edit-author--2']:after {
	content: "\00a0";
}

#comment-form #edit-author--2 {
	font-size: .9em;
}


.node-type-question-and-answer .comment-reply {
	display: none;
}

.section-answers #block-block-41 {
	margin-bottom: 0;
}

#block-wm-ask-question-wm-ask-question-form {
	background: #6c6155;
	border: solid 1px #322e23;
	-webkit-box-shadow:inset 0 0 5px 0px rgba(0,0,0,.2);
	box-shadow:inset 0 0 5px 0px rgba(0,0,0,.2);
	padding: 1em;
	margin-left: 654px;
}

#block-wm-ask-question-wm-ask-question-form label[for="edit-question"] {
	color: #f4f1e7;
	letter-spacing: .1em;
	margin-top: 0;
	text-transform: uppercase;
}

#block-wm-ask-question-wm-ask-question-form span.form-required {
	display: none;
}

#block-wm-ask-question-wm-ask-question-form .form-item-question {
	margin-bottom: 0;
}

#block-wm-ask-question-wm-ask-question-form .form-item-question input {
	-webkit-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
	float: left;
	height: 45px;
	width: 240px;
	vertical-align: middle;
}

#block-wm-ask-question-wm-ask-question-form input[type="submit"] {
	background: #e2ddd0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2ddd0 0%, #b4ab90 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2ddd0), color-stop(100%,#b4ab90)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2ddd0 0%,#b4ab90 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2ddd0 0%,#b4ab90 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2ddd0 0%,#b4ab90 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2ddd0 0%,#b4ab90 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2ddd0', endColorstr='#b4ab90',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	color: #000;
	display: inline-block;
	height: 45px;
	margin: 0;
	padding: 0 7px;
	box-shadow:none;
	-webkit-box-shadow: none;
	text-shadow: 1px 1px 0 #FFFFFF;
	vertical-align: middle;
}




/* Most Active Answerers & Wingmen Attending Blocks */

#block-block-44 h2.block-title, #block-views-994d229dc8bbc82f12bcb7e86cdf089d h2.block-title {
	border-bottom: solid 1px #b4ab90;
	font-size: .9em;
	color: rgb( 85, 85, 85 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

#block-block-44 ul, .event-attending-block ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#block-block-44 li, .event-attending-block li {
	font-size: .9em;
	line-height: 1.2em;
	height: 40px;
	padding-bottom: 1em;
}

#block-block-44 li a, .event-attending-block li a {
	font-weight: bold;
}

#block-block-44 li span {
	font-size: .8em;
}

#block-block-44 img, .event-attending-block img {
	float: left;
	height: 40px;
	margin-right: 10px;
	width: 40px;
}

.event-attending-block img {
	vertical-align: middle;
}

.event-attending-block .view-header {
	font-size: .8em;
	font-style: italic;
	margin-bottom: 1em;
}

/* EVENTS */


/*events slider*/
.view-events-slider {
	-webkit-box-shadow:inset 0 0 15px 2px rgba(0,0,0,.9);
	box-shadow:inset 0 0 15px 2px rgba(0,0,0,.9);
	overflow: hidden;
	background: #333;
	color: #999;
	width: 980x;
	height: 140px;
}

.view-events-slider .views-field-field-event-logo {
	height: 220px;
	float: left;
	overflow: hidden;
	width: 220px;
	margin-right: 1em;
}

.view-events-slider a {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000000;
}

.view-events-slider a:hover {
	color: #DDD0A5;
	text-decoration: none;
}


.view-events-slider .views-field-field-event-date, .view-events-slider .event-date, .view-events-slider .views-field-name, .view-events-slider .views-field-city {
	font-size: .9em;
	letter-spacing: .07em;	
	text-transform: uppercase;
}

.view-events-slider .views-field-nothing {
	padding-top: 1.4em;
}

.view-events-slider h2 {
	font-size: 1.3em;
	margin: 0;
}


.region-highlighted #block-block-46 h2.title {
	color: #6c6155;
	margin: 0;
	padding: 0;
	font-size: 1.7em;
	text-transform: uppercase;
}

.region-highlighted #block-block-46 h2.title span {
	color: #555;
	font-weight: 300;
}

.view-events .views-row {
	border-bottom: solid 1px #F4F1E7;
	min-height: 100px;
	padding: 1em 0;
}

.view-events .views-field-field-event-image, .view-events .views-field-field-event-logo {
	float: left;
	width: 100px;
	min-height: 100px;
	margin-right: 1em;
	margin-bottom: 1em;
}

.view-events .views-field-field-event-image img, .view-events .views-field-field-event-logo img {
	height: auto;
	width: 100px;
}

.view-events .views-row h2 {
	font-size: .9em;
	line-height: 1.3;
	margin: .5em 0;
}

.view-events .event-info {
	color: #6c6155;
	font-size: .75em;
	line-height: .9em;
}


.view-events .attachment {
	float: left;
	width: 150px;
}

.view-events .attachment ul {
	list-style-type: none;
	padding: 0;
	font-size: .8em;
}

.view-events .view-content {
	margin-left: 175px;
}

.view-events .view-display-id-attachment_1 .view-content {
	margin-left: 0;
}

/* Event Categories Block */
.event-categories {
	float: left;
	width: 150px;
}

.event-categories .view-content {
	margin-left: 0;
}

.event-categories ul {
	list-style-type: none;
	padding: 0;
	font-size: .8em;
}

/* Events distance sorter block */
.events-distance .views-exposed-form .views-exposed-widget {
	padding-top: 0;
}

.events-distance input[type='text'] {
	font-size: .7em;
	width: 100px;
}

.events-distance label {
	font-size: .8em;
	font-weight: normal;
}

.events-distance label[for='edit-distance-1'], .events-distance label[for='edit-distance-1-search-distance'] {
	display: none;
}



.events-distance .form-item-distance-1-search-units {
	display: none;
}

.events-distance select {
	font-size: .8em;
	margin-top: 1em;
}

.events-distance .views-exposed-widget input[type="submit"] {
	font-size: .8em;
	margin-top: .5em;
}

/* Featured Events Block */
.featured-events-block ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.featured-events-block ul li {
	background: #cdc7b2;
	color: #6c6155;
	font-size: 14px;
	height: 80px;
	line-height: 1.2;
	margin-bottom: .5em;
	padding-right: 5px;
}

.featured-events-block ul li .views-field-field-event-logo {
	float: left;
	padding-right: 8px;
	width: 150px;
}

.featured-events-block ul li a {
	color: #fff;
	font-weight: bold;
	margin-top: 1em;
}

.featured-events-block .views-field-title {
	padding-top: 1em;
}

/* Events node template */
.event-image {
	float: left;
	width: 250px;
	
}

.node-type-event .event-info {
	font-size: .9em;
	margin-left: 275px;
}
.field-name-field-event-date {
	padding: .5em 0;
	
}

p.event-address, p.event-venue {
	margin: 0;
	padding: 0;
}

 p.event-venue {
	font-weight: bold;
}

.node-type-event h1#page-title {
	border-bottom: solid 1px #F4F1E7;
	font-weight: normal;
	font-size: 1.4em;
	display: none;
	margin-bottom: .5em;
	padding-bottom: .5em;
}

.section-event h2.node-title {
	border-bottom: solid 1px #F4F1E7;
	font-weight: normal;
	font-size: 1.3em;
	line-height: 1.4;
	margin-bottom: .5em;
	padding-bottom: .5em;
}

.field-name-field-event-category {
	font-size: .9em;
}


.event-details {
	clear: both;
}



.flag-attend-event a.flag-link-toggle {
	border: 0;
	background-color: #6c6155;
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, .4);
	color: #fff;
	font-weight: bold;
	padding: .5em 1em;
	margin: 1em 1em 1em 0;
	text-transform: uppercase;
}


.flag-attend-event a.flag-link-toggle:hover {
	color: #ddd0a5;
	text-decoration: none;
}


.flag-attend-event .flag-message {
	top: 3em;
}

h2.event-details-title {
	border-bottom-color: #F4F1E7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #555555;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1em;
    margin-top: 3em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.field-name-field-event-category {
	float: left;
	width: 250px;
}

.field-name-field-event-description {
	font-size: .9em;
	margin-left: 275px;
	text-align: left;
}


/* Wingmen Attending Block */


/* Why Wingman block in footer area */

.why-wingman h2.block-title:after {
    border-top-color: #666;
    border-top-style: solid;
    border-top-width: 1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 8;
}




/* Members */
#block-block-49 {
	
}

.region-highlighted #block-block-49 h2.title {
	color: #6c6155;
	margin: 0;
	padding: 0;
	font-size: 1.7em;
	text-transform: uppercase;
}

.region-highlighted #block-block-49 h2.title span {
	color: #555;
	font-weight: 300;
}

.region-highlighted #block-block-49 p {
	margin-top: 0;
}

#views-exposed-form-all-wingmen-page label {
	font-size: .9em;
}

#views-exposed-form-all-wingmen-page label[for='edit-distance-1'], #views-exposed-form-all-wingmen-page .form-item-distance-1-search-units {
	display: none;
}


#views-exposed-form-all-wingmen-page label[for='edit-distance-1-search-distance'] {
	font-size: .9em;
	text-indent: -999999px;
}

#views-exposed-form-all-wingmen-page select {
	font-size: 11px;
}

#views-exposed-form-all-wingmen-page #edit-distance-1-wrapper {
	width: 250px;
}

#views-exposed-form-all-wingmen-page input#edit-distance-1-postal-code {
	width: 150px;
	font-size: 11px;
	
}

#views-exposed-form-all-wingmen-page .form-item-distance-1-postal-code {
	float: left;
	width: 150px;
	margin-right: .5em;
}

.form-item-distance-1-search-distance {}

#views-exposed-form-all-wingmen-page .views-submit-button {
	clear: both;
	padding: 0;
}

#views-exposed-form-all-wingmen-page .views-submit-button input {
	font-size: .9em;
	margin-top: 1em;
	
}

#views-exposed-form-all-wingmen-page input#edit-reset {
	background: transparent;
	color: #006699;
	font-weight: normal;
	text-transform: lowercase;
	box-shadow: none;
	font-size: .9em;
	padding: 0;
	margin-top: 1em;
}

#footer .why-wingman h2.block-title {
	color: rgb( 221, 208, 165 );
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 800;
	letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 10px;
    position: relative;
	text-align: center;
    text-transform: uppercase;
}

.why-wingman h2.block-title span {
	background: #1C1C1C;
	display: inline-block;
	position: relative;
	margin-top: -30px;
	padding: 7px;
	z-index: 9;
	
}





/* footer */
.front #footer-wrapper {
	position: relative;
}

#footer-wrapper {
	background-color: #1C1C1C;
	width: 100%;
	min-height: 80px;
	position:absolute;
	bottom:0;
	left: 0;
}


#footer {
	margin: auto;
	width: 980px;
}

#footer {
	padding-top: 1.5em;
	font-size: .9em;
}



#footer strong, footer h3 {
	color: #ccc;
	font-family: 'Open Sans';
	font-weight: 800;
}

#footer {
	color: #999;
}

#footer .why-wingman .clear {
	border-bottom: solid 1px #666;
	height: 1px;
	visibility: visible;
	width: 100%;
}

#footer #block-block-36 a strong{
	color: #fff !important;
}


/* Mobile styles */
@media only screen 
and (max-width : 768px) {
 	.front #block-views-front-slider-block .ei-title {display: none !important;}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 769px) {
/* Styles */
	.front #zone-header-wrapper {display: none;

}

